bin/*.pid
config/.gitignore
config/development.yml
config/production.yml
config/testing.yml
public/javascripts/bower/
public/javascripts/app/bundle.js
public/javascripts/app/bundle.js.map
public/stylesheets/*.css
public/stylesheets/*.css.map
node_modules/
.git/
.gitignore
.DS_Store
npm-debug.log
